* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* background: linear-gradient(90deg, #42275a, #734b6d); */
  height: 100vh;
  /* align-content: center; */
}

main {
  margin-top: 6rem;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.carousel-container {
  max-width: 750px;
}
